body {
    margin: 0px;
}
.app-wrapper {
    background-image: url(../images/bg.jpg);
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header {
    height: 5vh;
    background-color: rgb(24, 69, 59);
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px rgb(13, 177, 75);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.to-do-start {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px rgb(13, 177, 75);
}
.add-task {
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 69, 59);
    margin: 3px;
    border-radius: 100%;
}
.add-task-input {
    width: 80vw;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid rgb(152, 162, 162);
}
.todo {
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1px;
    color: rgb(24, 69, 59);
    text-shadow: 1px 1px rgb(13, 177, 75);
    animation: taskin 0.5s ease-in;
}
.done {
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(152, 162, 162);
    color: rgb(24, 69, 59);
    text-shadow: 1px 1px white;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1px;
    animation: taskin 0.5s ease-in;
}
.done span {
    text-decoration: line-through;
}
.fade-out {
    animation: taskout 0.5s ease-out;
}
@keyframes taskin {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
}
@keyframes taskout {
    0% {opacity: 0.8;}
    100% {opacity: 0;}
}
.delete {
    position: absolute;
    right: 2px;
    font-size: 10px;
    color: rgb(24, 69, 59);
    text-shadow: none;
    border-radius: 5px 5px 5px 5px;
}
.move-text {
    font-size: 10px;
    color: black;
    text-shadow: none;
}
.grey-star {
    background-image: url(../images/grey_star.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.gold-star {
    background-image: url(../images/star.webp);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}